<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>First name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @user.boards.each do |board| %>
   <p><%= board.name %></p>
<% end %>

<center>
<%= render 'shared/footer' %> | <%= link_to 'Back', users_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</center>
