<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charlotte_hornet.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @charlotte_hornet.number %>
</p>

<p>
  <strong>Position:</strong>
  <%= @charlotte_hornet.position %>
</p>

<p>
  <strong>College:</strong>
  <%= @charlotte_hornet.college %>
</p>

<%= link_to 'Edit', edit_charlotte_hornet_path(@charlotte_hornet) %> |
<%= link_to 'Back', charlotte_hornets_path %>
