<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre.name %>
</p>

<p><strong>Songs by this artist:</strong></p>
<ul>
<% @artist.songs.each do |song| %>
<li><%= song.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
