<!DOCTYPE html>
<html>
<head>
  <title>Vote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<strong>
	<p class="sign_up">
		<% if voter_signed_in? %>
			Logged in as <strong> <%= current_voter.email %> </strong>
			<%= link_to "Edit Profile", edit_voter_registration_path, :class => "navbar-link" %>
			<%= link_to "Logout", destroy_voter_session_path, method: :delete, :class => "navbar-link" %>
		<% else %>
			<%= link_to "Signup", new_voter_registration_path, :class => "navbar-link" %>
			<%= link_to "Login", new_voter_session_path, :class => "navbar-link" %>
		<% end %>
	</p>
</strong>

<%= yield %>

</body>
</html>
