<!DOCTYPE html>
<html>
<head>
  <title>Texty</title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	<p>Twilio AC_SID: <%= ENV['AC_SID'] %> </p>
	<p>Twilio AUTH_TOKEN: <%= ENV['AUTH_TOKEN'] %></p>
	<p>Twilio Number: <%= ENV['TW_NUMBER'] %></p>

<%= yield %>

</body>
</html>
